body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS styles for React-Redux Bank application */

/* Styles for the whole container */
.app {
  margin: 2rem;
  font-weight: 600;
}

.bg-gray {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
}

/* Styles for the header */

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Styles for the form section */

h2 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styles for form labels and inputs */
label {
  display: block;
  margin-bottom: 5px;
  color: #313131;
}

input,
select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 5px;
}

/* Styles for the button */
button {
  padding: 6px;
  background-color: #dfdfdf;
  border: 2px solid rgb(10, 10, 10);
  color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

button:hover {
  background-color: #b3b3b3;
}
.displaye-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance-display {
  min-width: 8rem;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 40px;
  background-color: #e8e8e8;
  color: black;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  font-family: sans-serif;
}
